@use "vars";

.homeContainer {
  margin-top: 61px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.title {
  color: vars.$hospital-green;
  font-size: vars.$lg;
}
